<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <app-menutest></app-menutest>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary m-2" (click)="newForm('changePassword')">Change Password</button><br>
                    <button type="button" class="btn btn-primary m-2" (click)="newForm('changeNominee')">Change Nominee</button><br>
                    <button type="button" class="btn btn-primary m-2" (click)="newForm('redemption')">Redemption</button>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="ipad">
                <div class="row">
                    <div class="col">
                        <h3 class="m-3">{{ model.name }}</h3>
                        <form [formGroup]="form" (ngSubmit)="submit(model)">
                            <formly-form [form]="form" [fields]="fields" [model]="model">
                                <button type="submit" [disabled]="form.invalid" class="btn btn-success m-1 float-right">Submit</button>
                                <button type="button" class="btn btn-danger m-1 float-right">Cancel</button>
                            </formly-form>
                        </form>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <h4 class="text-center">Current model state</h4>
                        {{ model | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>